/* Your button CSS file */

.btn-treehouse{
  background-color: #c13a3a;
  padding: 10px 20px;
  border-radius: 24px;
  color: azure;
  font-weight: bold;
}
.btn-treehouse:hover{
  background-color: azure;
  color: #c13a3a;
  border: 2px solid #c13a3a;
}
